<%- include ../partials/header.ejs %>

  <h1>New Contact</h1>

  <form method="post" action="/contacts" class="new-contact-form" id="new_contact_form">
    <pre class="new-contact-form-errors"></pre>
    <label>
      <span>First name:</span>
      <input type="text" name="first_name" id="first_name_bar" />
    </label>
    <label>
      <span>Last name:</span>
      <input type="text" name="last_name" id="last_name_bar" />
    </label>
    <input type="submit" value="Add Contact" id="new_contact_submit">
  </form>

  <%- include ../partials/footer.ejs %>
